// assets/styles/base/_typography.scss

/* === Import des polices Barlow === */

/* Light */
@font-face {
  font-family: 'Barlow';
  src: url('../../fonts/Barlow-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: 'Barlow';
  src: url('../../fonts/Barlow-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: 'Barlow';
  src: url('../../fonts/Barlow-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* SemiBold */
@font-face {
  font-family: 'Barlow';
  src: url('../../fonts/Barlow-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'Barlow';
  src: url('../../fonts/Barlow-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* === Variables typographiques === */
$font-family-base: 'Barlow', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-size-base: 20px;
$font-size-h2: 52px;
$line-height-base: 1.6;

/* === Styles globaux === */
body {
  font-family: $font-family-base; 
  font-weight: $font-weight-regular;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-bold;
  line-height: 1;
}