/* ============================= */
/*        SPACE GROTESK          */
/* ============================= */

/* Medium */
@font-face {
  font-family: 'Space Grotesk';
  src: url('../fonts/SpaceGrotesk-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* ============================= */
/*        IBM PLEX MONO          */
/* ============================= */

/* Regular */
@font-face {
  font-family: 'IBM Plex Mono';
  src: url('../fonts/IBMPlexMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: 'IBM Plex Mono';
  src: url('../fonts/IBMPlexMono-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* SemiBold */
@font-face {
  font-family: 'IBM Plex Mono';
  src: url('../../fonts/IBMPlexMono-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* ============================= */
/*   VARIABLES TYPOGRAPHIQUES    */
/* ============================= */

$font-family-base: "IBM Plex Mono", monospace;
$font-family-heading: "Space Grotesk", sans-serif;
;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;

$font-size-base: 20px;
$font-size-h2: 51px;
$font-size-big-links: 86px;

$font-size-mobile: 18px;
$font-size-mobile-h2: 32px;
$font-size-mobile-big-links: 38px;

$line-height-title: 1;
$line-height-base: 1.4;

$color-text: #2D2D2A;

/* ============================= */
/*        STYLES GLOBAUX         */
/* ============================= */

body {
  font-family: $font-family-base;
  font-weight: $font-weight-regular;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-text;
  @media(max-width: 767px){
    font-size: $font-size-mobile;
  }
}

/* ============================= */
/*           TITRES              */
/* ============================= */
p
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-heading;
  font-weight: $font-weight-medium;
  line-height: $line-height-title;
}

h2 {
  font-size: $font-size-h2;
  @media (max-width: 768px) {
    font-size: $font-size-mobile-h2;
  }
}
