$color-background: #F7F7F5;
$color-text: #2D2D2A;

$color-orange: #FF6700;        // orange
$color-green: #DCFF99;         // vert
$color-red: #DC2011;            // rouge
$color-purple: #C399FF;         // mauve
$color-blue: #33A1FF;           // bleu