.nav{
    font-family: $font-family-base;
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    border-bottom: solid 1px $text-color;
    &__list
    {
        display: flex;
        padding: 20px;

        &-container{
        border-left: solid 1px $text-color;
        border-right: solid 1px $text-color;
        grid-column: 2/12;
        display: flex;
        justify-content: space-between;
    }
    &--menu{
        gap:40px
    }

}
    &__link{
        color: $text-color;
    }
}

.burger{
    display: none;
    @media (max-width: 768px){
        display: block;
    }
}