.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 32px;
    border: solid 1px $text-color;
    border-radius: 50px;
    position: absolute;
    width: -webkit-fill-available;
    @media (min-width: 1200px) {
        margin: 40px 270px;
    }
    &__list{
        display: flex;
        flex-direction: row;
        justify-content: space-between  ;
        margin: 12px 20px;
        &--menu{
            @media(max-width: 768px) {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                height: 100vh;
                flex-direction: column;
                background: $background-color;
                display: none;
            }
            @media (min-width: 769px){
                gap: 80px;
            }
            &.is-open {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
    }
        }
    }
    &__link{
        color: $text-color;
        text-transform: uppercase;
        font-weight: $font-weight-bold;
        
    }
}


/* Burger */
.burger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    background-color: white;
    z-index: 10;
    @media(min-width: 769px) {
        display: none;
    }
}
