.accueil {
	display: grid;
	// Mobile par défaut : 5 colonnes
	grid-template-columns: repeat(5, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 0px;
	border-bottom: solid 1px $color-text;

	// Tablette et plus : 12 colonnes
	@media (min-width: 768px) {
		grid-template-columns: repeat(12, 1fr);
	}

	&__title_container {
		grid-column: 1 / 6;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 20px;
		border-bottom: solid 1px $color-text;

		@media (min-width: 768px) {
			grid-template-columns: repeat(12, 1fr);
			grid-column: 1 / 13;
		}
	}

	&__big-title {
		font-family: $font-family-heading;
		grid-column: 1 / 6;
		display: flex;
		flex-direction: row;
		justify-content: center;
		background-color: #dcff99;
		padding: 16px 20px;
		border-left: none;
		border-right: none;

		@media (min-width: 768px) and (max-width: 1023px) {
			grid-column: 2 / 12;
			padding: 32px 20px 40px 20px;
			border-left: solid 1px $color-text;
			border-right: solid 1px $color-text;
		}

		@media (min-width: 1024px) {
			grid-column: 2 / 12;
			border-left: solid 1px $color-text;
			border-right: solid 1px $color-text;
			padding: 40px 20px 48px 20px;
		}

		img {
			max-width: 100%;
			height: auto;
		}
	}

	&__subtitle {
		grid-row: 2;
		grid-column: 1 / 6;
		border-bottom: solid 1px $color-text;
		font-size: $font-size-mobile-h2;

		@media (min-width: 768px) {
			grid-column: 1 / 1;
			border-bottom: none;
			font-size: $font-family-base; // ou la valeur desktop
		}
	}

	&__description {
		background-color: 	$color-orange;
		grid-column: 1 / 6;
		grid-row: 4;
		border-left: none;
		border-right: none;
		padding: 24px 16px;

		@media (min-width: 768px) and (max-width: 1023px) {
			grid-column: 2 / 12;
			grid-row: 3;
			border-left: solid 1px $color-text;
			border-right: solid 1px $color-text;
			padding: 28px 20px;
		}

		@media (min-width: 1024px) {
			grid-column: 2 / 7;
			grid-row: 2;
			border-left: solid 1px $color-text;
			border-right: solid 1px $color-text;
			padding: 32px 20px;
		}

		p + p {
			margin-top: 20px;
		}
	}

	&__img {
		background-image: url('../images/accueil_mb.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		grid-column: 1 / 6;
		grid-row: 3;
		max-width: 100%;
		min-height: 280px;
		border-left: none;
		border-right: none;
		border-bottom: solid 1px $color-text;

		@media (min-width: 768px) and (max-width: 1023px) {
			grid-column: 2 / 12;
			grid-row: 2;
			min-height: 300px;
			border-left: solid 1px $color-text;
			border-right: solid 1px $color-text;
		}

		@media (min-width: 1024px) {
			grid-column: 7 / 12;
			grid-row: 2;
			min-height: 530px;
			border-left: solid 1px $color-text;
			border-right: solid 1px $color-text;
			border-bottom: none;
		}
	}
}

.subtitle {
	// Mobile par défaut : horizontal
	padding: 12px 16px;
	text-align: center;
	grid-row: 2;
	// Tablette et plus : vertical
	@media (min-width: 768px) {
		padding: initial;
		text-align: initial;
		writing-mode: vertical-rl;
		text-orientation: mixed;
		transform: rotate(180deg);
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		grid-row: 2 / 4;
	}
}

.medium {
	font-family: $font-family-base;
	font-weight: $font-weight-medium;
	font-size: $font-size-base-mobile-1;
	margin-bottom: 16px;

	@media (min-width: 768px) and (max-width: 1023px) {
		
		font-size: $font-size-base-1;
	}

	@media (min-width: 1024px) {
		margin-bottom: 20px;
	}
}