.accueil {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 0px;
	border-bottom: solid 1px $color-text;

	// Mobile : tout en colonne
	@media (max-width: 767px) {
		grid-template-columns: repeat(5, 1fr);
		grid-column-gap: 20px;
	}

	&__title_container {
		grid-column: 1/13;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 20px;
		border-bottom: solid 1px $color-text;

		@media (max-width: 767px) {
			grid-template-columns: repeat(5, 1fr);
			grid-column: 1 / 6;
		}
	}

	&__big-title {
		font-family: $font-family-heading;
		grid-column: 2/12;
		border-left: solid 1px $color-text;
		border-right: solid 1px $color-text;
		display: flex;
		flex-direction: row;
		justify-content: center;
		background-color: #dcff99;
		padding: 40px 20px 48px 20px;

		@media (max-width: 767px) {
			grid-column: 1/6;
			font-size: 80px;
			padding: 16px 20px;
			border-left: none;
			border-right: none;
		}

		@media (min-width: 768px) and (max-width: 1023px) {
			font-size: 100px;
			padding: 32px 20px 40px 20px;
		}

		img {
			max-width: 100%;
			height: auto;
		}
	}

	&__subtitle {
		grid-column: 1/1;
		grid-row: 2;

		@media (max-width: 767px) {
			grid-row: 2;
			grid-column: 1/6;
			border-bottom: solid 1px $color-text;
			font-size: $font-size-mobile-h2;
		}
	}

	&__description {
		background-color: #ff6700;
		grid-column: 2/7;
		grid-row: 2;
		border-left: solid 1px $color-text;
		border-right: solid 1px $color-text;
		padding: 32px 20px;

		// Tablette : photo au-dessus, texte en dessous
		@media (min-width: 768px) and (max-width: 1023px) {
			grid-column: 2/12;
			grid-row: 3;
			padding: 28px 20px;
		}

		// Mobile : pleine largeur
		@media (max-width: 767px) {
			grid-column: 1/6;
			grid-row: 4;
			border-left: none;
			border-right: none;
			padding: 24px 16px;
		}

		p + p {
			margin-top: 20px;
		}
	}

	&__img {
		background-image: url('../images/accueil_mb.jpg');
		background-size: cover;
		background-position:  center;
		background-repeat: no-repeat;
		grid-column: 7/12;
		grid-row: 2;
		border-left: solid 1px $color-text;
		border-right: solid 1px $color-text;
		max-width: 100%;
		min-height: 530px;

		// Tablette : photo au-dessus du texte
		@media (min-width: 768px) and (max-width: 1023px) {
			grid-column: 2/12;
			grid-row: 2;
			min-height: 300px;
			border-bottom: solid 1px $color-text;
		}

		// Mobile : pleine largeur
		@media (max-width: 767px) {
			grid-column: 1/6;
			grid-row: 3;
			min-height: 280px;
			border-left: none;
			border-right: none;
			border-bottom: solid 1px $color-text;
		}
	}
}

.subtitle {


	// Desktop + Tablette : vertical
	@media (min-width: 768px) {
		writing-mode: vertical-rl;
		text-orientation: mixed;
		transform: rotate(180deg);
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
	}

	// Mobile : horizontal
	@media (max-width: 767px) {
		padding: 12px 16px;
		text-align: center;
	}
}

.medium {
	font-family: $font-family-base;
	font-weight: $font-weight-medium;
	font-size: 24px;
	margin-bottom: 20px;

	@media (max-width: 767px) {
		font-size: 20px;
		margin-bottom: 16px;
	}

	@media (min-width: 768px) and (max-width: 1023px) {
		font-size: 20px;
	}
}

