.accueil{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    @media (min-width: 1200px) {
        margin: 0 60px;
    }
    &__img{
        grid-column: 4/9;
        width: 100%;
        align-self: end;
    }
    &__h2{
        grid-column: 1/3;
        grid-row: 1;
        align-self: end;
        margin-bottom: 20px;
    }
    &__description{
        grid-column: 10/13;
        align-self: end;
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 20px;
    }
}