.footer{
    background-color: #2D2D2A;
    color: #F7F7F5;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    &__list{
        display: flex;
        flex-direction: column;
        border-right: solid 1px $text-color;
    }
    &__el{
        margin-top: 4px;
        &:first-child{
            margin-top: 0;
        }
        &:nth-child(2) {
           margin-top: 0;
        }
        &-title{
            font-family: $font-family-heading;
            font-weight: $font-weight-medium;
            margin-bottom: 12px;
        }
    }

}