.body__link{
    font-family: $font-family-heading;
    font-weight: $font-weight-medium;
    font-size: 86px;
    color: $text-color;
    text-transform: uppercase;
}
label{
    font-family: $font-family-heading;
    font-weight: $font-weight-medium;
    font-size: 20px;
    text-transform: uppercase;
    color: $color-text;
    opacity: 50%;

}