.photos {
    display: grid;
    grid-template-columns:  repeat(12, 1fr);
    border-bottom: solid 1px $color-text;
    column-gap: 20px;
    
    &__subtitle {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        border-right: solid 1px $color-text;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    &__grid {
        
        display: grid;
        grid-column: 2/12;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(2, 320px);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        padding: 32px 20px 20px 20px;
        border-left: solid 1px $color-text;
        border-right: solid 1px $color-text;
    }
    
    &__first {
        grid-column: 1/5;
        grid-row: 1;
        background-image: url('../images/IMG_2338.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    &__second {
        grid-column: 5/7;
        grid-row: 1;
        background-image: url('../images/IMG_2344.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    &__third {
        grid-column: 7/12;
        grid-row: 1;
        background-image: url('../images/IMG_2400.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    &__fourth {
        grid-column: 1/5;
        grid-row: 2;
        background-image: url('../images/IMG_2338.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    &__fifth {
        grid-column: 5/7;
        grid-row: 2;
        background-image: url('../images/IMG_2344.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    &__sixth {
        grid-column: 7/12;
        grid-row: 2;
        background-image: url('../images/IMG_2400.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    &__link {
        grid-column: 1 / -1;
        width: 100%;
        text-align: center;
        padding: 12px 0;
        border-top: solid 1px $color-text;
        margin-top: 0;
    }
}