.projects{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    border-bottom: solid 1px $color-text;
    
    &__titre{
        text-transform: uppercase;
    }
    &__subtitle{
       grid-column: 1/1; 
    }
    &__link{
    color: $color-text;
    
    }
    &__list{
        grid-column: 2/12;
        border-left: solid 1px $color-text;
        border-right: solid 1px $color-text;
        
    }
    &__el{
        border-bottom: solid 1px $color-text;
        &:last-child {
    border-bottom: none;
}
    }
}
.projects__list
.link {

  &__list {
    display: grid;
    grid-template-columns: 2fr 1fr 3fr 1fr 1fr;
    align-items: center;
    width: 100%;
    text-wrap: nowrap;
    
  }


  &__el {
    padding: 32px 20px;
  }
}
