.projects {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-column-gap: 20px;
	border-bottom: solid 1px $color-text;

	@media (min-width: 768px) {
		grid-template-columns: repeat(12, 1fr);
	}

	&__subtitle {
		grid-row: 1;
		grid-column: 1 / 6;
		border-bottom: 1px solid $color-text;

		@media (min-width: 768px) {
			grid-column: 1 / 2;
			border-bottom: none;
		}
	}

	&__list {
		grid-column: 1 / 6;
		border-left: none;
		border-right: none;

		@media (min-width: 768px) {
			grid-column: 2 / 12;
			border-left: solid 1px $color-text;
			border-right: solid 1px $color-text;
		}
	}

	&__el {
		position: relative;
		border-bottom: solid 1px $color-text;

		&:last-child {
			border-bottom: none;
		}
	}

	/* ========================= */
	/* ANIMATION HOVER FOND + TEXTE */
	/* ========================= */

	&__link {
		color: $color-text;
		display: block;
		position: relative;
		overflow: hidden;
		transition: color 0.2s ease;

		&::before {
			content: '';
			position: absolute;
			inset: 0;
			background-color: $color-red;
			transform: translateY(100%);
			transition: transform 0.5s cubic-bezier(0.77, 0, 0.18, 1);
			z-index: 0;
		}

		&:hover::before {
			transition-delay: 0.125s;
			transform: translateY(0);
		}

		> * {
			position: relative;
			z-index: 1;
			transition: transform 0.4s ease;
		}
	}

	&__titre {
		text-transform: uppercase;
		font-weight: $font-weight-medium;
		width: 100%;
		margin-bottom: 12px;

		@media (min-width: 768px) {
			width: auto;
			margin-bottom: 0;
		}
	}

	&__description {
		display: none;

		@media (min-width: 1280px) {
			display: block;
		}
	}

	&__cta {
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 24px;
		min-height: 24px;

		&::before {
			content: '';
			display: block;
			width: 25px;
			height: 25px;
			background-image: url('../images/link_arrow.svg');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;

			@media (min-width: 768px) {
				width: 50px;
				height: 50px;
			}
		}
	}
}

/* ========================= */
/* ALIGNEMENT DES COLONNES */
/* ========================= */

.projects__list .link {
	&__list {
		display: flex;
		flex-direction: column;
		gap: 8px;
		align-items: flex-start;
		width: 100%;
		text-wrap: nowrap;

		@media (min-width: 768px) {
			display: grid;
			grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
			align-items: center;
			flex-direction: unset;
			gap: 0;
		}

		@media (min-width: 1280px) {
			grid-template-columns: 2fr 2fr 4fr 1fr 1fr;
		}
	}

	&__list-information {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		width: 100%;
		gap: 20px;

		@media (min-width: 768px) {
			display: contents;
		}
	}

	&__el {
		padding: 0;
		padding-left: 12px;

		@media (min-width: 768px) {
			padding: 32px 20px;
		}
	}
}

/* ========================= */
/* COULEURS SPECIFIQUES DES TROIS PREMIERS LIENS */
/* ========================= */

.projects__list .projects__el:nth-child(1) .projects__link::before {
	background-color: $color-green;
}

.projects__list .projects__el:nth-child(2) .projects__link::before {
	background-color: $color-purple;
}

.projects__list .projects__el:nth-child(3) .projects__link::before {
	background-color: $color-blue;
}