.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 32px;
    margin: 40px 270px;
    border: solid 1px $text-color;
    border-radius: 50px;
    &__list{
        display: flex;
        flex-direction: row;
        justify-content: space-between  ;
        width: 100%;
        margin: 12px 20px;
    }
    &__link{
        color: $text-color;
        text-transform: uppercase;
        font-weight: $font-weight-bold;
        
    }
}