@import './utils/variables';

@import './base/reset';
@import './base/typography';

@import './components/nav';

@import './layout/accueil';
@import './layout/projets';
@import './layout/photos';
@import './layout/about';
@import './layout/contact';
@import './layout/footer';
@import './layout/main'
    