html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* === Import des polices Barlow === */
/* Light */
@font-face {
  font-family: "Barlow";
  src: url("../../fonts/Barlow-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* Regular */
@font-face {
  font-family: "Barlow";
  src: url("../../fonts/Barlow-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Medium */
@font-face {
  font-family: "Barlow";
  src: url("../../fonts/Barlow-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* SemiBold */
@font-face {
  font-family: "Barlow";
  src: url("../../fonts/Barlow-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* Bold */
@font-face {
  font-family: "Barlow";
  src: url("../../fonts/Barlow-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* === Variables typographiques === */
/* === Styles globaux === */
body {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 32px;
  border: solid 1px #F6F5F0;
  border-radius: 50px;
}
@media (min-width: 1200px) {
  .nav {
    margin: 40px 270px;
  }
}
.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 12px 20px;
}
@media (max-width: 768px) {
  .nav__list--menu {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    height: 100vh;
    flex-direction: column;
    background: #282723;
    display: none;
  }
}
.nav__list--menu.is-open {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav__link {
  color: #F6F5F0;
  text-transform: uppercase;
  font-weight: 700;
}

/* Burger */
.burger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  background-color: white;
  z-index: 10;
}
@media (min-width: 769px) {
  .burger {
    display: none;
  }
}

body {
  background-color: #282723;
  color: #F6F5F0;
}

h2 {
  font-size: 52px;
}

.yellowpart {
  color: #FFDB89;
}

.p__medium {
  font-weight: 500;
}/*# sourceMappingURL=styles.css.map */