@import './utils/variables';

@import './base/reset';
@import './base/typography';

@import './components/nav';
@import './components/footer';

@import './layout/accueil';
@import './layout/projets';
@import './layout/photos';
@import './layout/about';
@import './layout/contact';
@import './layout/main';
@import './anim/glitch';